.container{
    width: 400px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.body{
    width: 100px;
    height: 100px;
    background-color: red;
}
.main{
    width: 100px;
    height: 100px;
    background-color: rgb(31, 31, 31);
}